/*## Colors*/
/*### Primary*/
/*### Neutral*/
/* Github colors*/
/* Family: [Rubik](https://fonts.google.com/specimen/Rubik) */
* {
  margin: 0px;
  padding: 0px; }

p, h1, h2, textarea, li {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; }

ul {
  padding-left: 40px; }

body {
  background-color: #f5f6fa; }

button {
  border-width: 0;
  cursor: pointer; }

textarea, input {
  color: #67727e;
  font-size: 1em; }

textarea {
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  resize: none; }

input {
  box-sizing: border-box;
  padding-left: 10px; }

textarea:focus, input:focus {
  outline: none !important;
  border-color: #324152 !important; }

button:hover {
  opacity: 0.5; }

.is-not-logged-in .login-status-banner {
  display: none; }

.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 730px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px; }

.comment-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 18px; }

.name-date-text-container {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 70%; }

.name-date {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px; }

.name-date > .date {
  padding-left: 10px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #324152;
  font-size: 1em; }

.name-date-text-container > p {
  min-height: 2em;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #67727e;
  line-height: 1.4em; }

.comment .reply-span {
  color: #5457b6;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; }

/*
 This container will hold the modules that allows you to interact
 with this comment. 
 The .comment class is meant to be inherited by a .comment-yours or .comment-other class
 If it's someone else's comment, it'll hold a reply button in the DOM.
 If it's your own comment, it'll hold a delete and edit button in the DOM.
 */
.interaction-container {
  max-width: 140px;
  height: 40px;
  position: absolute;
  bottom: 18px;
  right: 18px; }

@media (min-width: 850px) {
  .interaction-container {
    top: 23px;
    right: 18px; }

  .comment-main-container {
    flex-direction: row; } }
/*
 * .comment-other subclass of .comment
 */
.comment-other .interaction-container {
  display: flex;
  width: 70px; }

/*
 * .comment-yours subclass of .comment
 */
.comment-yours .interaction-container {
  display: flex;
  width: 140px; }

.comment-yours .ownership-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 15px;
  margin-left: 5px;
  background-color: #5457b6;
  border-radius: 3px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 0.65em; }

.form-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  max-width: 730px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 18px;
  background-color: white;
  border-radius: 10px; }

.form-comment > .text-input {
  width: 100%;
  height: 60%;
  position: relative;
  border: 1px #eaecf1 solid;
  border-radius: 10px; }

.form-comment > .text-input::placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; }

.form-comment > .send-button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #5457b6;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: white; }

.form-comment-reply {
  margin-bottom: 10px; }

.votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: #f5f6fa;
  border-radius: 10px; }

.votes > .plus, .votes > .minus {
  flex: 1 1 0;
  padding: 15px; }

.votes > .minus {
  padding-bottom: 20px; }

.votes > .plus {
  padding-top: 18px; }

.plus > img, .minus > img {
  width: 100%; }

.votes > .score {
  flex: 1 1 0;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #5457b6; }

@media (min-width: 850px) {
  .votes {
    flex-direction: column;
    order: -1;
    width: 40px;
    height: 100px;
    margin-top: 17px;
    margin-right: 20px; }

  .votes > .plus, .votes > .minus {
    flex: 1 1 0;
    padding: 0px; }

  .votes > .plus {
    padding-top: 10px; } }
/*
Class that represents the little icon and text such as:
the reply or delete or edit buttons. Meant to be inherited by those
to make tiny adjustments to alignments and such.

 */
.icon-text {
  display: flex;
  width: 100%;
  cursor: pointer; }

.icon-text > .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%; }

.icon-text > .icon-container > img {
  width: 14px;
  height: 14px; }

.icon-text > .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #5457b6; }

.icon-text:hover {
  opacity: 0.5; }

/* Subclass of .icon-text. Represents the reply button*/
.icon-text-reply > .icon-container {
  padding-top: 1px; }

/*Subclass of icon-text, represents the delete button*/
.icon-text-delete {
  width: 50%; }

/*Subclass of icon-text, represents the edit button*/
.icon-text-edit {
  width: 50%; }

.icon-text-edit > .icon-container > img {
  padding-left: 12px; }

.form-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 200px;
  max-width: 730px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 18px;
  background-color: white;
  border-radius: 10px; }

.form-login > .username-input {
  width: 100%;
  height: 37px;
  border: 1px #eaecf1 solid;
  border-radius: 10px; }

.form-login > .username-input::placeholder {
  padding-left: 10px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; }

.form-login > .login-button, .form-login > .logout-button {
  align-self: flex-end;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #5457b6;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: white; }

@media (max-width: 500px) {
  .form-login {
    min-height: 150px; } }
.login-status-banner {
  position: sticky;
  top: 0px;
  background-color: #eaecf1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-size: 1em; }

.notes {
  background-color: white;
  height: 100%;
  max-height: 800px;
  border-radius: 10px; }

.notes-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafbfc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 40px; }

.notes .github-button {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  color: #24292e;
  background-color: #fafbfc; }

.comments-container {
  display: block; }

#main-content {
  max-width: 730px; }

@media (min-width: 376px) {
  #main-content {
    min-width: 345px;
    width: 60%; } }
@media (max-width: 375px) {
  #main-content {
    min-width: 345px;
    margin-left: auto;
    margin-right: auto; } }
#aside-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  max-width: 500px;
  margin-left: 20px; }

@media (max-width: 500px) {
  #aside-content {
    display: none; } }
#content {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1080px;
  margin: auto;
  margin-top: 10vh; }

/*# sourceMappingURL=style.css.map */
