
*
{
    margin:0px;
    padding:0px;
}

p , h1, h2, textarea, li
{
    @include rubik(400);
}

li
{
    margin-bottom:0.40em;
    line-height:1.35em;
}

h1
{
    font-size:2em;
    padding-bottom:0.5em;

}
ul
{
    padding-left:40px;
}

hr
{
    border-bottom:1px solid $light-gray;
    border-right:0px;
    border-left:0px;
    border-top:0px;
    margin-bottom:1em;
}

body
{
    background-color:$very-light-gray;
}

button
{
    border-width:0;
    cursor:pointer;
}

textarea, input
{
    color:$grayish-blue;
    font-size:1em;
}
textarea
{
    box-sizing:border-box;
    padding-left:10px;
    padding-top:10px;
    resize: none;
}
input
{
    box-sizing:border-box;
    padding-left:10px;
}
textarea:focus, input:focus
{
    outline: none !important;
    border-color: $dark-blue !important;
}


//States
button:hover
{
    opacity:0.5;
}
