
{{!--
Parameters:
comment: List of comment components. Each is a string obtained from a rendered handlebar template.
--}}
<section class="comments-container">
    {{#each comment}}
        {{{this}}}
    {{/each}}

    {{!--Should probably be its own template--}}
    <form method="POST" action="/send-comment" class="form-comment">
        <textarea name= "comment_content" type=text class="text-input" placeholder="Add a comment..."></textarea>
        <button type= "submit" class="send-button"> SEND </button>
    </form>
</section>
