{{!--
Parameters:
comments_container: String represting the rendered out comments_container component
username: String representing the user's username
--}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
        <link rel="stylesheet" href="style.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

        <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

        <script src="assets/js/my_script.js"></script>


        <title>Interactive comments section</title>

    </head>
    <body>
        <div id="content" class="{{#if username}}is-logged-in{{else}}is-not-logged-in{{/if}}">
            <div id="main-content">
                <div class="login-status-banner">Logged in as: <span>{{username}}</span></div>
                {{{comments_container}}}
            </div>

            <div id ="aside-content">
                <div class="notes">
                    <div class="notes-banner">
                        <a class="github-link" href="https://github.com/AndreiTih/interactive_comment_section">GitHub</a>
                    </div>
                    <div class="notes-content-container">
                        <h1>Notes:</h1>
                        <hr>
                        <ul>
                        <li>To use the comment system, login with any arbitrary username. The login system is not implemented seriously, but more as
                        a means to show the functionality of the comment system.</li>
                        <li>The design was taken from <a href="https://frontendmentor.io">frontendmentor</a>. They don't provide any starting code but
                        instead some png images of the final look of the design and outline the colors and fonts used.
                        <li>The upvotes functionality is not implemented yet.</li>


                        </li>
                    </div>
                    </ul>
                </div>
                <form method="POST" action="/login" class="form-login">
                    <input name= "username" type=text class="username-input" placeholder="Username"></input>
                    <button type= "button" class="logout-button"> Log out </button>
                    <button type= "submit" class="login-button"> Log in </button>
                </form>
            </div>
        </div>
    </body>
</html>

