#main-content
{
    max-width:730px;
}


//States

//Media

@media (min-width: 376px) {

    #main-content
    {
        min-width: 345px;
        width:60%;
    }
}

@media (max-width: 375px) {
    #main-content
    {
        min-width:345px;
        margin-left:auto;
        margin-right:auto;
    }
}
